body{
	background-color: white;
}

.login{
	background-color: #ef9a9a;
}

.login-title{
	height: 100%;
}

.sidenav{
	list-style: none;
	box-shadow: 5px 0 5px #888888;
	height: 100%;
	margin-left: -10px;
}

.logo{
	padding-left: 20px;
}

.sidenav-item{
	background-color: #ffffff;
	padding: 15px 0 15px 0;
	cursor: pointer;
}

.sidenav-item:hover{
	background-color: #ef9a9a;
}

.fileview-head{
	list-style: none;
}

.fileview-head div{
	border: 1px solid black;
}

.fileview-head li{
	padding: 10px;
}

.fileview-content{
	height: 450px;
	overflow: auto;
}

.file{
    overflow: hidden;
}

.file img{
    margin-top: 3px;
    transition: box-shadow 0.5s;
}

.file:hover{
    cursor: pointer;
    background-color: honeydew;
    box-shadow: 5px 0 5px #888888;
    border-radius: 5px;
}